Repository JacekZubielik/jz-helm-charts, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, chart/binance-proxy, chart/esphome, chart/external-dns, chart/home-assistant, chart/lms, chart/mktxp, chart/mosquitto, chart/syncthing, chart/uptime-kuma, chart/zigbee2mqtt

.github/labeler.yaml:

---
area/github:
- changed-files:
  - any-glob-to-any-file: ".github/**/*"
chart/binance-proxy:
- changed-files:
  - any-glob-to-any-file: "charts/binance-proxy/**/*"
chart/esphome:
- changed-files:
  - any-glob-to-any-file: "charts/esphome/**/*"
chart/external-dns:
- changed-files:
  - any-glob-to-any-file: "charts/external-dns/**/*"
chart/home-assistant:
- changed-files:
  - any-glob-to-any-file: "charts/home-assistant/**/*"
chart/lms:
- changed-files:
  - any-glob-to-any-file: "charts/lms/**/*"
chart/mktxp:
- changed-files:
  - any-glob-to-any-file: "charts/mktxp/**/*"
chart/mosquitto:
- changed-files:
  - any-glob-to-any-file: "charts/mosquitto/**/*"
chart/syncthing:
- changed-files:
  - any-glob-to-any-file: "charts/syncthing/**/*"
chart/uptime-kuma:
- changed-files:
  - any-glob-to-any-file: "charts/uptime-kuma/**/*"
chart/zigbee2mqtt:
- changed-files:
  - any-glob-to-any-file: "charts/zigbee2mqtt/**/*"

chore(chart): update
  charts/mosquitto/Chart.yaml
Labels: chart/mosquitto

Update index.yaml
  index.yaml
Labels: none

chore(cleanup): code
  charts/eclipse-mosquitto/Chart.yaml
  charts/eclipse-mosquitto/templates/_helpers.tpl
  charts/eclipse-mosquitto/templates/configmap-certs.yaml
  charts/eclipse-mosquitto/templates/configmap.yaml
  charts/eclipse-mosquitto/templates/deployment.yaml
  charts/eclipse-mosquitto/templates/ingress.yaml
  charts/eclipse-mosquitto/templates/pvc.yaml
  charts/eclipse-mosquitto/templates/service.yaml
  charts/eclipse-mosquitto/templates/tests/test-connection.yaml
  charts/eclipse-mosquitto/values.yaml
Labels: none

chore(cleanup): code
  charts/eclipse-mosquitto/Chart.yaml
  charts/eclipse-mosquitto/values.yaml
Labels: none

chore(cleanup): code
  charts/eclipse-mosquitto/templates/_helpers.tpl
  charts/eclipse-mosquitto/templates/configmap-certs.yaml
  charts/eclipse-mosquitto/templates/configmap.yaml
  charts/eclipse-mosquitto/templates/deployment.yaml
  charts/eclipse-mosquitto/templates/ingress.yaml
  charts/eclipse-mosquitto/templates/pvc.yaml
  charts/eclipse-mosquitto/templates/service.yaml
  charts/eclipse-mosquitto/templates/tests/test-connection.yaml
Labels: none

chore(bump): to 0.0.14
  charts/mosquitto/Chart.yaml
  charts/mosquitto/templates/_helpers.tpl
  charts/mosquitto/templates/deployment.yaml
  charts/mosquitto/templates/serviceaccount.yaml
  charts/mosquitto/templates/servicemonitor.yaml
  charts/mosquitto/values.yaml
Labels: chart/mosquitto

Update index.yaml
  index.yaml
Labels: none

fix(mosquitto-passwd): disable
  charts/mosquitto/Chart.yaml
  charts/mosquitto/templates/deployment.yaml
Labels: chart/mosquitto

Update index.yaml
  index.yaml
Labels: none

build(bump): 2024.8.3
  charts/home-assistant/Chart.yaml
Labels: chart/home-assistant

Update index.yaml
  index.yaml
Labels: none

build(mosquitto): 0.0.16
  charts/mosquitto/Chart.yaml
  charts/mosquitto/templates/deployment.yaml
  charts/mosquitto/values.yaml
Labels: chart/mosquitto

Update index.yaml
  index.yaml
Labels: none

build(bump): 0.0.17
  charts/mosquitto/Chart.yaml
  charts/mosquitto/templates/deployment.yaml
  charts/mosquitto/values.yaml
Labels: chart/mosquitto

chore(cleanup): code
  charts/mosquitto/templates/deployment.yaml
  charts/mosquitto/values.yaml
Labels: chart/mosquitto

Update index.yaml
  index.yaml
Labels: none

build(bump): 0.0.18
  charts/mosquitto/Chart.yaml
Labels: chart/mosquitto

Update index.yaml
  index.yaml
Labels: none

build(bump): 0.0.11
  charts/zigbee2mqtt/Chart.yaml
Labels: chart/zigbee2mqtt

Update index.yaml
  index.yaml
Labels: none

chore(update): steps
  .github/workflows/lint-and-test.yml
Labels: area/github

chore(update): steps (#108)
  .github/workflows/lint-and-test.yml
Labels: area/github

build(bump): binance-proxy to v0.0.5
  charts/binance-proxy/Chart.yaml
Labels: chart/binance-proxy

build(bump): binance-proxy to v0.0.5 (#117)
  charts/binance-proxy/Chart.yaml
Labels: chart/binance-proxy

Update index.yaml
  index.yaml
Labels: none

build(bump): binance-proxy to v0.0.6
  charts/binance-proxy/Chart.yaml
  charts/binance-proxy/ci/ci-values.yaml
  charts/binance-proxy/templates/deployment.yaml
  charts/binance-proxy/values.yaml
Labels: chart/binance-proxy

Binance proxy (#118)
  charts/binance-proxy/Chart.yaml
  charts/binance-proxy/ci/ci-values.yaml
  charts/binance-proxy/templates/deployment.yaml
  charts/binance-proxy/values.yaml
Labels: chart/binance-proxy

Update index.yaml
  index.yaml
Labels: none

build(bump): update mosquitto to 2.0.21-openssl
  charts/mosquitto/Chart.yaml
  charts/mosquitto/ci/ci-values.yaml
  charts/mosquitto/templates/deployment.yaml
  charts/mosquitto/templates/hpa.yaml
  charts/mosquitto/values.yaml
Labels: chart/mosquitto

build(bump): update mosquitto to 2.0.21-openssl (#119)
  charts/mosquitto/Chart.yaml
  charts/mosquitto/ci/ci-values.yaml
  charts/mosquitto/templates/deployment.yaml
  charts/mosquitto/templates/hpa.yaml
  charts/mosquitto/values.yaml
Labels: chart/mosquitto

Update index.yaml
  index.yaml
Labels: none

fix(securitycontext): add capabilities NET_ADMIN
  charts/binance-proxy/values.yaml
Labels: chart/binance-proxy

feat: add configurable parameters for binance-proxy in Helm chart
  charts/binance-proxy/Chart.yaml
  charts/binance-proxy/templates/deployment.yaml
  charts/binance-proxy/templates/service.yaml
  charts/binance-proxy/values.yaml
Labels: chart/binance-proxy

feat: Add configurable parameters for binance-proxy in Helm chart (#120)
  charts/binance-proxy/Chart.yaml
  charts/binance-proxy/templates/deployment.yaml
  charts/binance-proxy/templates/service.yaml
  charts/binance-proxy/values.yaml
Labels: chart/binance-proxy

Update index.yaml
  index.yaml
Labels: none

fix: remove unnecessary code
  charts/binance-proxy/Chart.yaml
  charts/binance-proxy/templates/service.yaml
  charts/binance-proxy/values.yaml
Labels: chart/binance-proxy

fix: remove unnecessary code (#121)
  charts/binance-proxy/Chart.yaml
  charts/binance-proxy/templates/service.yaml
  charts/binance-proxy/values.yaml
Labels: chart/binance-proxy

Update index.yaml
  index.yaml
Labels: none

chore(update): ci
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/configs/ct-lint.yaml
  .github/configs/lintconf.yaml
  .yamllint
Labels: area/github

chore(update): ci (#122)
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/configs/ct-lint.yaml
  .github/configs/lintconf.yaml
  .yamllint
Labels: area/github
