Repository JacekZubielik/jz-helm-charts, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, chart/binance-proxy, chart/esphome, chart/external-dns, chart/home-assistant, chart/lms, chart/mktxp, chart/mosquitto, chart/syncthing, chart/uptime-kuma, chart/zigbee2mqtt

Update index.yaml
  index.yaml
Labels: none

build(lms): 0.0.12
  charts/lms/Chart.yaml
  charts/lms/values.yaml
Labels: chart/lms

Update index.yaml
  index.yaml
Labels: none

chore(lms): 0.0.13
  charts/lms/Chart.yaml
  charts/lms/values.yaml
Labels: chart/lms

Update index.yaml
  index.yaml
Labels: none

build(lms): 0.0.14
  charts/lms/Chart.yaml
  charts/lms/templates/statefulset.yaml
  charts/lms/values.yaml
Labels: chart/lms

fix(lint): remove trailing spaces
  charts/lms/values.yaml
Labels: chart/lms

Update index.yaml
  index.yaml
Labels: none

feat(lms): 0.0.15
  charts/lms/Chart.yaml
  charts/lms/templates/statefulset.yaml
  charts/lms/values.yaml
Labels: chart/lms

Update index.yaml
  index.yaml
Labels: none

build(zigbee2mqtt): 0.0.8
  charts/zigbee2mqtt/Chart.yaml
  charts/zigbee2mqtt/templates/statefullset.yaml
  charts/zigbee2mqtt/values.yaml
Labels: chart/zigbee2mqtt

Update index.yaml
  index.yaml
Labels: none

build(zigbee2mqtt): 0.0.9
  charts/zigbee2mqtt/Chart.yaml
  charts/zigbee2mqtt/templates/statefullset.yaml
  charts/zigbee2mqtt/values.yaml
Labels: chart/zigbee2mqtt

Update index.yaml
  index.yaml
Labels: none

build(mosquitto): 0.0.2
  charts/mosquitto/Chart.yaml
  charts/mosquitto/templates/deployment.yaml
Labels: chart/mosquitto

Update index.yaml
  index.yaml
Labels: none

build(mosquitto): 0.0.3
  charts/mosquitto/Chart.yaml
  charts/mosquitto/templates/deployment.yaml
Labels: chart/mosquitto

Update index.yaml
  index.yaml
Labels: none

build(mosquitto): 0.0.4
  charts/mosquitto/Chart.yaml
  charts/mosquitto/templates/deployment.yaml
Labels: chart/mosquitto

Update index.yaml
  index.yaml
Labels: none

build(mosquitto): 0.0.5
  charts/mosquitto/Chart.yaml
  charts/mosquitto/templates/deployment.yaml
Labels: chart/mosquitto

Update index.yaml
  index.yaml
Labels: none

build(zigbee2mqtt): 0.0.10
  charts/zigbee2mqtt/Chart.yaml
  charts/zigbee2mqtt/templates/statefullset.yaml
Labels: chart/zigbee2mqtt

Update index.yaml
  index.yaml
Labels: none

build(mosquitto): 0.0.6
  charts/mosquitto/Chart.yaml
  charts/mosquitto/templates/deployment.yaml
Labels: chart/mosquitto

Update index.yaml
  index.yaml
Labels: none

build(mosquitto): 0.0.7
  charts/mosquitto/templates/deployment.yaml
Labels: chart/mosquitto

fix(chart): ver
  charts/mosquitto/Chart.yaml
Labels: chart/mosquitto

Update index.yaml
  index.yaml
Labels: none

chore(chmod): 0700 password_file
  charts/mosquitto/Chart.yaml
  charts/mosquitto/templates/deployment.yaml
Labels: chart/mosquitto

Update index.yaml
  index.yaml
Labels: none

test(mode): 777
  charts/mosquitto/Chart.yaml
  charts/mosquitto/templates/deployment.yaml
Labels: chart/mosquitto

Update index.yaml
  index.yaml
Labels: none

chore(password_file): update
  charts/mosquitto/Chart.yaml
  charts/mosquitto/templates/deployment.yaml
Labels: chart/mosquitto

Update index.yaml
  index.yaml
Labels: none

chore(password_file): update
  charts/mosquitto/Chart.yaml
  charts/mosquitto/templates/deployment.yaml
Labels: chart/mosquitto

Update index.yaml
  index.yaml
Labels: none

chore(securitycontext): update
  charts/mosquitto/Chart.yaml
  charts/mosquitto/templates/deployment.yaml
Labels: chart/mosquitto

Update index.yaml
  index.yaml
Labels: none

chore(password_file): mode 640
  charts/mosquitto/templates/deployment.yaml
Labels: chart/mosquitto

.github/labeler.yaml:

---
area/github:
- changed-files:
  - any-glob-to-any-file: ".github/**/*"
chart/binance-proxy:
- changed-files:
  - any-glob-to-any-file: "charts/binance-proxy/**/*"
chart/esphome:
- changed-files:
  - any-glob-to-any-file: "charts/esphome/**/*"
chart/external-dns:
- changed-files:
  - any-glob-to-any-file: "charts/external-dns/**/*"
chart/home-assistant:
- changed-files:
  - any-glob-to-any-file: "charts/home-assistant/**/*"
chart/lms:
- changed-files:
  - any-glob-to-any-file: "charts/lms/**/*"
chart/mktxp:
- changed-files:
  - any-glob-to-any-file: "charts/mktxp/**/*"
chart/mosquitto:
- changed-files:
  - any-glob-to-any-file: "charts/mosquitto/**/*"
chart/syncthing:
- changed-files:
  - any-glob-to-any-file: "charts/syncthing/**/*"
chart/uptime-kuma:
- changed-files:
  - any-glob-to-any-file: "charts/uptime-kuma/**/*"
chart/zigbee2mqtt:
- changed-files:
  - any-glob-to-any-file: "charts/zigbee2mqtt/**/*"
